<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Matheus Andrade</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
    <mat-card-content>
      <p>
        Olá seja bem vindo ao sistema Help Desk desenvolvido por mim , com auxilio de um curso na udemy<br>
        Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Springo Boot 2
      </p>
    </mat-card-content>
  </mat-card>
